/* line 1, ../sass/general.scss */
body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #707281;
  background: #070b2a;
}
/* line 6, ../sass/general.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: 900;
  color: #fff;
}
/* line 10, ../sass/general.scss */
body img {
  max-width: 100%;
  height: auto;
}
/* line 14, ../sass/general.scss */
body a {
  color: #fff;
  transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
}
/* line 18, ../sass/general.scss */
body a:hover {
  color: #fb3a64;
  text-decoration: none;
}

/* line 26, ../sass/general.scss */
header {
  background: rgba(0, 0, 0, 0.5);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.77495) 0%, #010101 3%, rgba(6, 6, 6, 0.6545) 33%, rgba(10, 10, 10, 0.47803) 56%, rgba(14, 14, 14, 0.25394) 75%, rgba(255, 255, 255, 0) 100%);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 90px;
  z-index: 100;
}
/* line 36, ../sass/general.scss */
header .container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
/* line 42, ../sass/general.scss */
header a {
  color: #fff;
}
/* line 44, ../sass/general.scss */
header a:hover {
  color: #fb3a64;
  text-decoration: none;
}
/* line 49, ../sass/general.scss */
header ul {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}
/* line 56, ../sass/general.scss */
header ul li {
  height: 100%;
  padding: 10px 15px;
}
/* line 59, ../sass/general.scss */
header ul li a {
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
}
/* line 66, ../sass/general.scss */
header ul li a:hover {
  color: #fb3a64;
  text-decoration: none;
}

/* line 75, ../sass/general.scss */
.block-title {
  padding: 0;
}
/* line 77, ../sass/general.scss */
.block-title h2 {
  position: relative;
  font-size: 3rem;
  padding-bottom: 25px;
  margin-bottom: 40px;
}
/* line 82, ../sass/general.scss */
.block-title h2:after {
  position: absolute;
  background-color: #fb3a64;
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  width: 120px;
  content: "";
}

/* line 95, ../sass/general.scss */
.full-height-section {
  padding: 50px 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

/* line 103, ../sass/general.scss */
.pink-text {
  color: #fb3a64 !important;
}

/* line 107, ../sass/general.scss */
.add-overlay {
  position: relative;
  background: url("../images/banner3.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 112, ../sass/general.scss */
.add-overlay:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 11, 42, 0.9);
}

/* line 123, ../sass/general.scss */
.dark-section {
  background: #121421 !important;
}

/* line 127, ../sass/general.scss */
.view-more-btn {
  text-align: center;
}
/* line 129, ../sass/general.scss */
.view-more-btn a {
  display: inline-block;
  padding: 10px 25px;
  background: #fb3a64;
  color: #fff;
  border: 2px solid #fb3a64;
  line-height: 1;
}
/* line 136, ../sass/general.scss */
.view-more-btn a:hover {
  background: transparent;
  color: #fb3a64;
}

/* line 143, ../sass/general.scss */
.view-more {
  text-align: center;
  margin-top: 40px;
}
/* line 146, ../sass/general.scss */
.view-more a {
  display: inline-block;
  color: #fb3a64;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 151, ../sass/general.scss */
.view-more a:hover {
  color: #fff;
}
