/* line 1, ../sass/general.scss */
body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #707281;
  background: #070b2a;
}
@media only screen and (max-width: 767px) {
  /* line 1, ../sass/general.scss */
  body {
    font-size: 14px;
  }
}
/* line 10, ../sass/general.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: 900;
  color: #fff;
}
/* line 14, ../sass/general.scss */
body img {
  max-width: 100%;
  height: auto;
}
/* line 18, ../sass/general.scss */
body a {
  color: #fff;
  transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
}
/* line 22, ../sass/general.scss */
body a:hover {
  color: #fb3a64;
  text-decoration: none;
}

/* line 30, ../sass/general.scss */
header {
  background: rgba(0, 0, 0, 0.5);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.77495) 0%, #010101 3%, rgba(6, 6, 6, 0.6545) 33%, rgba(10, 10, 10, 0.47803) 56%, rgba(14, 14, 14, 0.25394) 75%, rgba(255, 255, 255, 0) 100%);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 90px;
  z-index: 100;
}
@media only screen and (max-width: 991px) {
  /* line 30, ../sass/general.scss */
  header {
    background-color: #1b1d2f !important;
    height: auto;
  }
}
/* line 44, ../sass/general.scss */
header .navbar {
  background-color: transparent !important;
  width: 100% !important;
}
/* line 48, ../sass/general.scss */
header .container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
/* line 54, ../sass/general.scss */
header a {
  color: #fff !important;
}
/* line 56, ../sass/general.scss */
header a:hover {
  color: #fb3a64 !important;
  text-decoration: none;
}
/* line 61, ../sass/general.scss */
header ul {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}
/* line 68, ../sass/general.scss */
header ul li {
  height: 100%;
}
@media only screen and (min-width: 768px) {
  /* line 68, ../sass/general.scss */
  header ul li {
    padding: 10px 15px;
  }
}
/* line 73, ../sass/general.scss */
header ul li a {
  font-size: 0.8rem;
  font-weight: 700;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff !important;
}
/* line 81, ../sass/general.scss */
header ul li a:hover {
  color: #fb3a64 !important;
  text-decoration: none;
}

/* line 90, ../sass/general.scss */
.block-title {
  padding: 0;
}
/* line 92, ../sass/general.scss */
.block-title h2, .block-title h1 {
  position: relative;
  font-size: 3rem;
  padding-bottom: 25px;
  margin-bottom: 40px;
}
@media only screen and (max-width: 767px) {
  /* line 92, ../sass/general.scss */
  .block-title h2, .block-title h1 {
    font-size: 2rem;
  }
}
/* line 100, ../sass/general.scss */
.block-title h2:after, .block-title h1:after {
  position: absolute;
  background-color: #fb3a64;
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  width: 120px;
  content: "";
}

/* line 113, ../sass/general.scss */
.full-height-section {
  padding: 50px 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

/* line 121, ../sass/general.scss */
.pink-text {
  color: #fb3a64 !important;
}

/* line 125, ../sass/general.scss */
.add-overlay {
  position: relative;
  background: url("../images/banner3.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 130, ../sass/general.scss */
.add-overlay:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 11, 42, 0.9);
}

/* line 141, ../sass/general.scss */
.dark-section {
  background: #121421 !important;
}

/* line 145, ../sass/general.scss */
.view-more-btn {
  text-align: center;
}
/* line 147, ../sass/general.scss */
.view-more-btn a {
  display: inline-block;
  padding: 10px 25px;
  background: #fb3a64;
  color: #fff;
  border: 2px solid #fb3a64;
  line-height: 1;
  font-size: 0.8rem;
}
/* line 155, ../sass/general.scss */
.view-more-btn a:hover {
  background: transparent;
  color: #fb3a64;
}

/* line 162, ../sass/general.scss */
.view-more {
  text-align: center;
  margin-top: 40px;
}
/* line 165, ../sass/general.scss */
.view-more a {
  display: inline-block;
  color: #fb3a64;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
}
/* line 171, ../sass/general.scss */
.view-more a:hover {
  color: #fff;
}

/* line 177, ../sass/general.scss */
footer {
  background: #fb3a64;
  padding: 50px 0;
}

/* line 183, ../sass/general.scss */
.social-icons a {
  font-size: 0;
  height: 32px;
  width: 32px;
  background: url("../images/icons/facebook.png") no-repeat center;
  background-size: 100%;
  display: inline-block;
  margin: 5px;
}
/* line 191, ../sass/general.scss */
.social-icons a.li {
  background-image: url("../images/icons/linkedin.png");
}
/* line 194, ../sass/general.scss */
.social-icons a.tw {
  background-image: url("../images/icons/twitter.png");
}
/* line 197, ../sass/general.scss */
.social-icons a.yt {
  background-image: url("../images/icons/youtube.png");
}

/* line 203, ../sass/general.scss */
.main-container, .section {
  padding: 50px 0;
}

/* line 207, ../sass/general.scss */
body:not(.front) {
  padding-top: 90px;
}
/* line 209, ../sass/general.scss */
body:not(.front) #header {
  background-color: #1b1d2f !important;
}
/* line 212, ../sass/general.scss */
body:not(.front) .block-title h1 {
  display: inline-block;
  margin-bottom: 50px;
}

/* line 219, ../sass/general.scss */
.team-list .team-box {
  background: #1d2031;
  margin-bottom: 40px;
  padding: 20px;
}
/* line 223, ../sass/general.scss */
.team-list .team-box .image {
  float: left;
  padding-right: 15px;
}
/* line 228, ../sass/general.scss */
.team-list .team-box .text h2 {
  font-size: 1.2rem;
  font-weight: 700;
}
