/* line 3, ../sass/home.scss */
.big-banner .banner-slides .slick-prev, .big-banner .banner-slides .slick-next {
  background: url(../images/icons/arrow-left.png) no-repeat;
  height: 40px;
  width: 20px;
  background-position: center;
  background-size: cover;
  z-index: 1;
}
/* line 10, ../sass/home.scss */
.big-banner .banner-slides .slick-prev:before, .big-banner .banner-slides .slick-next:before {
  content: none;
}
/* line 14, ../sass/home.scss */
.big-banner .banner-slides .slick-prev {
  left: 10px;
}
/* line 17, ../sass/home.scss */
.big-banner .banner-slides .slick-next {
  right: 10px;
  background-image: url(../images/icons/arrow-right.png);
}
/* line 21, ../sass/home.scss */
.big-banner .banner-slides .item {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 27, ../sass/home.scss */
.big-banner .banner-slides .item .container {
  display: flex;
  height: 100%;
  align-items: center;
}
/* line 32, ../sass/home.scss */
.big-banner .banner-slides .item h2 {
  font-size: 2.8rem;
  text-align: center;
  width: 100%;
  text-shadow: 1px 1px 10px #000;
}
@media only screen and (max-width: 767px) {
  /* line 32, ../sass/home.scss */
  .big-banner .banner-slides .item h2 {
    font-size: 1.6rem;
  }
}

/* line 45, ../sass/home.scss */
.team-members-slider {
  padding: 0 10px;
}
/* line 47, ../sass/home.scss */
.team-members-slider .slick-prev {
  left: -10px;
}
/* line 50, ../sass/home.scss */
.team-members-slider .slick-next {
  right: -10px;
}
/* line 53, ../sass/home.scss */
.team-members-slider .item {
  padding: 0 15px;
  text-align: center;
}
/* line 56, ../sass/home.scss */
.team-members-slider .item a {
  display: inline-block;
  width: 100%;
}
/* line 59, ../sass/home.scss */
.team-members-slider .item a img {
  width: 100%;
}
/* line 62, ../sass/home.scss */
.team-members-slider .item a .name {
  margin: 5px 0 10px;
  color: #fff;
  font-size: 1.2rem;
}
/* line 67, ../sass/home.scss */
.team-members-slider .item a .designation {
  color: #fff;
}

/* line 74, ../sass/home.scss */
.vision-mission-inner {
  padding: 15px;
  background: rgba(29, 34, 60, 0.5);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
@media only screen and (min-width: 768px) {
  /* line 74, ../sass/home.scss */
  .vision-mission-inner {
    height: 100%;
  }
}
