/* line 3, ../sass/home.scss */
.big-banner .banner-slides .item {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* line 9, ../sass/home.scss */
.big-banner .banner-slides .item .container {
  display: flex;
  height: 100%;
  align-items: center;
}
/* line 14, ../sass/home.scss */
.big-banner .banner-slides .item h2 {
  font-size: 3.2rem;
  text-shadow: 1px 1px 10px #000;
}
@media only screen and (max-width: 767px) {
  /* line 14, ../sass/home.scss */
  .big-banner .banner-slides .item h2 {
    font-size: 2rem;
  }
}

/* line 25, ../sass/home.scss */
.team-members-slider {
  padding: 0 10px;
}
/* line 27, ../sass/home.scss */
.team-members-slider .slick-prev {
  left: -10px;
}
/* line 30, ../sass/home.scss */
.team-members-slider .slick-next {
  right: -10px;
}
/* line 33, ../sass/home.scss */
.team-members-slider .item {
  padding: 0 15px;
  text-align: center;
}
/* line 36, ../sass/home.scss */
.team-members-slider .item a {
  display: inline-block;
  width: 100%;
}
/* line 39, ../sass/home.scss */
.team-members-slider .item a img {
  width: 100%;
}
/* line 42, ../sass/home.scss */
.team-members-slider .item a .name {
  margin: 5px 0 10px;
  color: #fff;
  font-size: 1.2rem;
}
/* line 47, ../sass/home.scss */
.team-members-slider .item a .designation {
  color: #fff;
}
