.big-banner {
  .banner-slides {
    .slick-prev, .slick-next {
      background: url(../images/icons/arrow-left.png) no-repeat;
      height: 40px;
      width: 20px;
      background-position: center;
      background-size: cover;
      z-index: 1;
      &:before {
        content: none;
      }
    }
    .slick-prev {
      left: 10px;
    }
    .slick-next {
      right: 10px;
      background-image: url(../images/icons/arrow-right.png);
    }
    .item {
      height: 100vh;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      // background-attachment: fixed;
      .container {
        display: flex;
        height: 100%;
        align-items: center;
      }
      h2 {
        font-size: 3.2rem;
        @media only screen and (max-width: 767px) {
          font-size: 2rem;
        }
        text-shadow: 1px 1px 10px #000;
      }
    }
  }
}

.team-members-slider {
  padding: 0 10px;
  .slick-prev {
    left: -10px;
  }
  .slick-next {
    right: -10px;
  }
  .item {
    padding: 0 15px;
    text-align: center;
    a {
      display: inline-block;
      width: 100%;
      img {
        width: 100%;
      }
      .name {
        margin: 5px 0 10px;
        color: #fff;
        font-size: 1.2rem;
      }
      .designation {
        color: #fff;
      }
    }
  }
}
